body {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background: url('bg.png') center/cover no-repeat; 
    min-height: 100vh;
    
}

.container {
    margin: 0 auto;
    padding: 2em;
    width: 90% !important;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #404c59;
    background-color: #f0f8ffcc; /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Efeito de vidro embaçado */
    border-radius: 20px;
    box-shadow: 0px 0px 10px #c1cfdccc; /* Sombra nas bordas que combina com o fundo */

}

/* Estilo para o título */
.titulo-custom {
    
    color: #8096ad;
            font-family: 'Sofia', sans-serif;
            transition: font-weight 0.3s;
}
/* Estilo para o botão */
.btn-primary.custom-button {
    background-color: #dc89a8;
    border-color: #e4afc3;
    color: #ffffff; 
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}
.titulo-custom {
    color: #b8c7e6;
    font-family: 'Sofia', sans-serif;
    transition: color 0.3s ease; 
    cursor: pointer;
}
.titulo-custom:hover {
    color: #8a98b5;
}

.btn-primary.custom-button:hover {
    background-color: #ffb6d1; /* Cor um pouco mais clara para o hover */
    border-color: #ffb6d1;
    color: #ffffff; 
    font-weight: bold;
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho do botão */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}



form {
    margin-top: 10px;
}

.form-group {
    text-align: left;
}

.form-group label:not([for="children-yes"]):not([for="children-no"]) {
    font-weight: bold;
    padding: 1em 0 0 0;
}

.children-field {
    display: none;
}

.btn-primary {
    background-color: #e6b8ca; /* Tom de rosa suave */
    border-color: #e6b8ca;
    margin: 1em;
}
#children-no.custom-radio {
    margin-left: 1em;
}